<div>
  <div class="header">
    <app-status-icon [connected]="user.connected"></app-status-icon
    >{{ user.username }}
  </div>

  <ul class="messages">
    <li *ngFor="let message of user.messages; index as i" class="message">
      <div *ngIf="displaySender(message, i)" class="sender">
        {{ message.fromSelf ? "(yourself)" : user.username }}
      </div>
      {{ message.content }}
    </li>
  </ul>

  <form class="form" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <textarea
      name="input"
      formControlName="input"
      placeholder="Type a message..."
      class="input"
    ></textarea>
    <button class="send-button" type="submit">Send</button>
  </form>
</div>
